<!doctype html>
<html lang="en">
  <head>
    <title>Wiki Search</title>
    <link rel="stylesheet" href="style.css" />

    <link rel="stylesheet" href="https://unpkg.com/vanillajs-datepicker@1.3.4/dist/css/datepicker.min.css" />
    <script src="https://unpkg.com/vanillajs-datepicker@1.3.4/dist/js/datepicker-full.min.js"></script>
    <script src="https://unpkg.com/htmx.org@1.9.5"></script>
  </head>
  <body>
    <div id="main">
      <div id="query-bar" hx-get="frag/query-bar" hx-trigger="load"></div>
      <div id="result" hx-get="frag/result" hx-trigger="load"></div>
    </div>
  </body>
</html>
