#query-bar {
  /* make the query region stick to the top when scrolling */
  position: sticky;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  top: 0;
  background-color: white;
  padding-top: 10pt;
  padding-bottom: 10pt;
  margin-bottom: 10pt;
}

#query-form label {
  min-width: 5rem;
  display: inline-block;
}

#query-form .query-term,
#query-form .date-range {
  display: flex;
  flex-direction: row;
  padding-bottom: 0.2rem;
  padding-top: 0.2rem;
  width: 60vw;
}

#query-form #query,
#query-form .date {
  flex: 1;
}

label[for="date-before"],
button.clear-query {
  margin-left: 1rem;
}

.query-date label,
.query-input label {
  flex: 1;
  display: flex;
  margin: 0 5pt;
}
.query-input button {
  margin: 0 5pt;
  width: 40pt;
}

input:invalid {
  border-color: red;
}

#index-info-container {
  display: flex;
  flex-direction: column;
  margin-right: 2rem;
  max-width: 9rem;
}

#reindex-indicator {
  display: none;
}

#reindex-indicator.htmx-request {
  display: inline;
}

.query-term-help {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  background-color: white;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  border-radius: 0.4rem;
  padding: 0.5rem;
  margin-left: 5rem;
  /* to allow user hover on popup */
  margin-top: -0.1rem;
  transition-duration: 0.3s;
  /* show above date picker popup */
  z-index: 100;
}

/* .query-term:focus-within + .query-term-help, */
.query-term:hover:not(:focus-within) + .query-term-help,
.query-term-help:hover {
  visibility: visible;
  opacity: 1;
}

.query-term-cheatsheet {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}
.query-term-cheatsheet {
  display: flex;
  flex-direction: row;
  padding: 0.5rem;
  gap: 2rem;
}

.query-term-cheatsheet ul {
  padding-left: 1rem;
}
