#query-bar {
  /* make the query region stick to the top when scrolling */
  position: sticky;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  top: 0;
  background-color: white;
  padding-top: 10pt;
  padding-bottom: 10pt;
  margin-bottom: 10pt;
}

#query-form label {
  min-width: 40pt;
  display: inline-block;
}

#query-form .query-term {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  width: 60vw;
}

#query-form .date-range {
  justify-items: space-between;
}

#query-form #query {
  flex: 1;
}

.query-date label,
.query-input label {
  flex: 1;
  display: flex;
  margin: 0 5pt;
}
.query-input button {
  margin: 0 5pt;
  width: 40pt;
}

.user-input {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 40pt;
}

.reindex-button {
  display: flex;
  flex-direction: column;
}

input:invalid {
  border-color: red;
}
